<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!-- Specify DNS domain name, username, and password for account to use in unlock process.-->
    <add key="domain" value="my.domain.local"/>
    <add key="username" value="domain\username"/>
    <add key="password" value="password"/>
    
    <!-- Specify in seconds how frequently system should restart unlock process. -->
    <add key="unlockFrequency" value="20"/>
    
    <!-- Specify comma-delimited list of accounts to unlock. -->
    <add key="unlockAccounts" value="domain\account1,domain\account2"/>
    
    <!-- Specify comma-delimited list of server IP addresses to ignore. -->
    <add key="ignoreServerIpAddresses" value="127.0.0.1"/>
  </appSettings>
</configuration>
